{% extends 'adminbase.html.twig' %}

{% block title %}Kategori Listesi{% endblock %}

{% block content %}

<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">

    <div class="row"><div class="col-sm-6">
            <div class="dataTables_length" id="dataTables-example_length">
                <label><select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> records per page</label>

                <a href="{{ path('admin_category_new') }}" class="btn btn-success btn-sm">Yeni Kategori Ekle</a>

            </div>

        </div><div class="col-sm-6">
            <div id="dataTables-example_filter" class="dataTables_filter">
                <label>Search:<input type="search" class="form-control input-sm" aria-controls="dataTables-example"></label>
            </div></div></div><table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ category.parentid }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ category.keywords }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ category.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_category_index') }}" class="btn btn-primary">Listeye Geri Dön</a>

    <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-warning">Düzenle</a>

    {{ include('admin/category/_delete_form.html.twig') }}
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">Showing 1 to 10 of 57 entries</div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                <ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                        <a href="#">Previous</a></li>
                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                        <a href="#">1</a>
                    </li>
                    <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                        <a href="#">2</a>
                    </li>
                    <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                        <a href="#">3</a>
                    </li>
                    <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                        <a href="#">4</a>
                    </li>
                    <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                        <a href="#">5</a>
                    </li>
                    <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                        <a href="#">6</a>
                    </li>
                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

    </div>
    <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="admin/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="admin/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="admin/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="admin/assets/js/custom.js"></script>

    </body>
    </html>
{% endblock %}

