{% extends 'adminbase.html.twig' %}

{% block title %}Üye Düzenleme{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        Üye Düzenle
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">

                <form role="form" method="post">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="user[name]" value="{{ user.name }}" class="form-control"  />
                    </div>
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="email" name="user[email]" value="{{ user.email }}" class="form-control"  />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="user[password]" value="{{ user.password }}" class="form-control" />
                    </div>


                    <div class="form-group">
                        <label>Type</label>
                        <select name="user[roles]" class="form-control" >
                            {% for item in user.roles %}
                            <option>{{ item }}</option>
                            {% endfor %}
                            <option>ROLE_ADMIN</option>
                            <option>ROLE_USER</option>
                            <option>ROLE_POWER</option>
                            <option>ROLE_MEMBER</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Status</label>
                        <select name="user[status]" class="form-control">
                            <option>{{ user.status }}</option>
                            <option>True</option>
                            <option>False</option>

                        </select>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Üye Güncelle</button>



                </form>





                    <!-- /. PAGE WRAPPER  -->

    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="admin/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="admin/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="admin/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="admin/assets/js/custom.js"></script>

    </body>
    </html>
{% endblock %}
