{% extends 'base.html.twig' %}

{% block title %}Resim{% endblock %}

{% block body %}
    <h1>Resim</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Product_id</th>
                <td>{{ image.productId }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ image.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_image_index') }}">Listeye Geri Dön</a>

    <a href="{{ path('admin_image_edit', {'id': image.id}) }}">Düzenle</a>

    {{ include('admin/image/_delete_form.html.twig') }}
{% endblock %}
