{% extends 'frontbase.html.twig' %}


{% block title %} {{ data[0].title }} {% endblock %}
{% block keywords %} {{ data[0].keywords }} {% endblock %}
{% block description %} {{ data[0].description }} {% endblock %}
{% block content %}


    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h3 class="title">  {{ data[0].title }} </h3>
                    <section class="main-content">

                        <div class="row">
                            <div class="span9">
                                <ul class="thumbnails listing-products">
                               {% for rs in products %}
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <a href="{{ path('product_detail', {'id': rs.id}) }}"><img alt="" src="{{ asset('uploads') }}/images/{{ rs.image }}"></a><br>
                                            <a href="" class="title">{{ rs.title }}</a><br>
                                            <a href="#" class="category"></a>
                                            <p class="price">{{ rs.sprice }} ₺</p>
                                        </div>
                                    </li>
                               {% endfor %}


                                </ul>
                                <hr>
                                <div class="pagination pagination-small pagination-centered">
                                    <ul>
                                        <li><a href="#">Prev</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>

                            <script src="{{ asset('assets') }}/js/common.js"></script>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
