{% extends 'adminbase.html.twig' %}

{% block title %}Siparişler{% endblock %}

{% block content %}

    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid"
         xmlns:javascript="http://www.w3.org/1999/xhtml">

        <div class="row"><div class="col-sm-6">
                <div class="dataTables_length" id="dataTables-example_length">
                    <label><select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> records per page</label>



                </div>

            </div><div class="col-sm-6">
                <div id="dataTables-example_filter" class="dataTables_filter">
                    <label>Search:<input type="search" class="form-control input-sm" aria-controls="dataTables-example"></label>
                </div></div></div><table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
            <thead>
            <tr>    <th>Id</th>
                    <th>UserId</th>
                    <th>İsim</th>
                    <th>Tutar</th>
                    <th>Şehir</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                    <th>Not</th>
                    <th>Durum</th>
                    <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.userid }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.amount }} ₺</td>
                <td>{{ order.city }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.note }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <a href="javascript:openWin('{{ path('admin_orders_show', {'id': order.id }) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=1000,height=800');" class="btn btn-success btn-sm">Göster</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Kayıt Bulunamadı.</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>


        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">Showing 1 to 10 of 57 entries</div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                    <ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                            <a href="#">Previous</a></li>
                        <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                            <a href="#">1</a>
                        </li>
                        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                            <a href="#">2</a>
                        </li>
                        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                            <a href="#">3</a>
                        </li>
                        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                            <a href="#">4</a>
                        </li>
                        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                            <a href="#">5</a>
                        </li>
                        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                            <a href="#">6</a>
                        </li>
                        <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="admin/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="admin/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="admin/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="admin/assets/js/custom.js"></script>

    </body>
    </html>
{% endblock %}

